/* * {
  transition: all 0.1s ease-in-out;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    input, textarea {
      border: 1px solid #dee3ee;
      border-radius: 4px;
      padding: 4px 8px;
      width: 100%;
    }

    label {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
